html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    overflow: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
    font-size: 1em;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 80%;
    height: 50%;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 70px;
    width: 70px;
    margin: 4px 0;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: url(../img/tap.png), auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #ff6347;
    font-size: 33px;
    -webkit-animation: animate 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: animate 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.deck .card.notmatch {
    -webkit-animation: animate2 0.9s both;
    animation: animate2 0.9s both;
}

/*
 * Styles for the Score Panel
 */

section.score-panel {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%;
    font-size: 1em;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    -webkit-box-shadow: 0px 3px 10px 0 rgba(46, 61, 73, 0.5);
    box-shadow: 0px 3px 10px 0 rgba(46, 61, 73, 0.5);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 2px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    color: #ff6347;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .restart:hover {
    color: #ff6347;
}

.score-panel .displaytimer {
    margin-left: 2.5em;
}

/*        footer starts here
------------------------------------*/

.footer {
    font-family: 'Raleway', sans-sans-serif;
    text-align: center;
    border-top: 1px solid #ccc;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-transform: capitalize;
    font-size: 14px;
}

.footer a {
    text-decoration: none;
    color: inherit;
}


/*
 * Styles for the Game won
 */

.game-won,
.time-out {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    text-transform: capitalize;
}

.game-won h2 {
    margin: 0;
}

.game-won .replay {
    width: 150px;
    background: #ff6347;
    color: #fff;
    padding: 10px 20px;
    font-weight: 300;
    cursor: url(../img/tap.png), auto;
    text-transform: uppercase;
    border: solid #bdbdbd 1px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

.replay:hover {
    background: #e5593f;
}


/*        animation
-------------------------------------*/

@-webkit-keyframes animate {

    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

@keyframes animate {

    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}

@-webkit-keyframes animate2 {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes animate2 {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}


/*        media quare starts here
-------------------------------------*/

@media screen and (min-width:320px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320px)/680));
    }

    .header {
        padding: 30px 10px;
    }
    .deck .card {
        width: 23%;
    }

}


@media screen and (min-width: 600px) {
    body {
        font-size: 1.2em;
        height: 100vh;
    }

    .deck {
        width: 80%;
        height: 60vh;
    }

    .deck .card {
        width: 23%;
    }

    .container {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    section.score-panel {
        width: 70%;
        font-size: 0.7em;
    }
}

@media screen and (min-width: 1000px) {

    html {
        font-size: 22px;
    }

}
